main {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    #inicio {
        margin-top: 1.25rem;
        width: 100vw;
        height: 25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;


        img:nth-child(1) {
            width: 9.375rem;
            height: 18.75rem;
        }

        div {
            width: 36.9375rem;
            height: 20.0625rem;

            h1 {
                font-family: var(--font-family);
                font-size: var(--font-size-title-mobile);
                font-weight: var(--font-weight-title);
                line-height: var(--line-height-title);
                margin: 1rem 0;
                position: absolute;
                left: -1px;
                width: 100%;
                text-align: center;

            }

            .paragrafo {
                font-family: var(--font-family);
                font-size: var(--font-size-paragraph-mobile);
                font-weight: var(--font-weight-paragraph);
                line-height: var(--line-height-paragraph);
                position: absolute;
                top: 15.9rem;
                left: -1px;
                padding: 0 0.625rem;
                text-indent: 0.625rem;
            }

            .botao {
                width: 10.625rem;
                height: 1.875rem;
                border-radius: 8px;
                padding: 1rem 0.625rem;
                gap: 0.625rem;
                font-family: var(--font-family);
                font-size: var(--font-size-btn-mobile);
                font-weight: var(--font-weight-title);
                line-height: var(--line-height-btn);
                background-color: var(--color-btn);
                color: var(--color-white);
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                top: 7.8125rem;
                right: 0.625rem;
                text-decoration: none;
            }

            .botao:hover {
                text-decoration: underline;
            }

            .botao-transparente {
                position: absolute;
                top: 10.625rem;
                right: 0.625rem;
                width: 10.625rem;
                height: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                gap: 0.625rem;
                font-family: var(--font-family);
                font-size: var(--font-size-btn-mobile);
                font-weight: var(--font-weight-title);
                line-height: var(--line-height-btn);
                color: var(--color-btn);
                

            }

            .botao-transparente:hover {
                text-decoration: underline;
            }


        }

        .absolute {
            width: 100%;
            height: 18.75rem;
            position: absolute;
            top: 4.6875rem;
            z-index: -1;
        }

    }

    #clinica {
        width: 100vw;
        height: 38rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        margin-top: 1.8750rem;

        div {
            width: 36.9375rem;
            height: 100%;

            h2 {
                width: 100%;
                text-align: center;
                font-family: var(--font-family);
                font-size: var(--font-size-title-mobile);
                font-weight: var(--font-weight-title);
                line-height: var(--line-height-title);

            }

            .paragrafo {
                position: absolute;
                top: 190px;
                padding: 0 0.625rem;
                font-family: var(--font-family);
                font-size: var(--font-size-paragraph-mobile);
                font-weight: var(--font-weight-paragraph);
                line-height: var(--line-height-paragraph);
                text-indent: 0.625rem;


            }

            ul {
                
                position: absolute;
                top: 400px;
                font-family: var(--font-family);
                font-weight: var(--font-weight-paragraph);
                font-size: var(--font-size-btn-mobile);
                line-height: 170%;
                margin-top: 1.25rem;
                
                li {
                    margin-left: 2rem;
                }
                
                
            }

        }

        .img {
            position: absolute;
            width: 100%;
            height: 9rem;
            text-align: center;
            top: 1.9rem;


            img {
                width: 9.375rem;
                height: 100%;
            }
        }

    }

    #farmacia {
        width: 100vw;
        height: 37rem;
        text-align: center;
        margin-top: 1.8750rem;
        padding: 0 5px;

        h2 {
            width: 100%;
            text-align: center;
            font-family: var(--font-family);
            font-size: var(--font-size-title-mobile);
            font-weight: var(--font-weight-title);
            line-height: var(--line-height-title);

        }

        img {
            width: 9.375rem;
            height: 9rem;
        }

        .paragrafo {

            font-family: var(--font-family);
            font-size: var(--font-size-paragraph-mobile);
            font-weight: var(--font-weight-paragraph);
            line-height: var(--line-height-paragraph);
            text-indent: 0.625rem;
        }



    }

    #duvidas {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 1rem;

        img {
            width: 9.375rem;
            height: 9rem;
        }

        .box-duvida {
            margin-top: 1.25rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.625rem;

            h2 {
                width: 100%;
                text-align: center;
                font-family: var(--font-family);
                font-size: var(--font-size-title-mobile);
                font-weight: var(--font-weight-title);
                line-height: var(--line-height-title);
                color: var(--color-text);
                margin-bottom: 1.5625rem;
            }

            .duvida {
                width: 90%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                position: relative;
                

                h3 {
                    font-family: var(--font-family);
                    font-weight: var(--font-weight-title);
                    font-size: var(--font-size-paragraph-mobile);
                    line-height: var(--line-height-title);
                    height: 100%;
                    outline: 2px solid var(--color-btn);
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    padding: 0.625rem;
                    
                }

                img {
                    width: 1.875rem;
                    height: .625rem;
                    position: absolute;
                    top: 1.5625rem;
                    right: 2px;
                }

                


                .paragrafo {
                    
                    font-family: var(--font-family);
                    font-size: var(--font-size-paragraph-mobile);
                    font-weight: var(--font-weight-paragraph);
                    line-height: var(--line-height-paragraph);
                       
                } 
                
            }

            .duvida .paragrafo {
                border-right: 1px solid #ff725e;
                border-bottom: 1px solid #ff725e;
                border-left: 1px solid #ff725e;
                border-radius: 0 0 8px 8px;
                padding: 0 24px;
            
                height: 0;
                opacity: 0;
                overflow: hidden;
                transition: .2s;
            } 
            
            
            .duvida.ativa .paragrafo {
                height: fit-content;
                opacity: 1;
                padding: 1.5rem;
            }
            
        }


    }

}
